@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .board {
    @apply flex w-[calc(64px_*_8)] h-[calc(64px_*_8)] flex-wrap;
  }
  .cell {
    @apply w-16 h-16 flex justify-center items-center;
  }
}

.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: rgb(95, 70, 236);
}
